* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background-color: #31353f;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #110e22;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #110e22;
  }
  a {
    text-decoration: none;
  }
  a {
    text-decoration: none !important;
    color: #000 !important;
  }
  .dashboard-body {
    background: linear-gradient(
      187.45deg,
      #31353f 3.41%,
      #808ba5 94.21%
    );
    /* height: 100%; */
    overflow-x: hidden;
    color: white;
    padding-bottom: 50px !important;
  }
  .coin-section-row {
    justify-content: center;
  }
  .side-bar {
    background: #110e22;
    color: white;
    border-radius: 10px 0 0 10px;
    height: 100vh;
    padding: 20px 30px 0 30px !important;
    position: fixed;
  }

  .image-div {
    display: flex;
    align-items: center;
  }
  .image-div span {
    padding-left: 7px;
    font-size: 22px;
  }
  .sidenav-nav {
    margin-top: 50px;
  }
  .nav-link {
    margin-top: 15px;
    display: flex !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
    font-size: 13px !important;
  }
  .nav-link:hover {
    color: white !important;
    background: #3a6ff8;
    border-radius: 10px;
    width: 100%;
  }
  .nav-link span {
    padding-left: 10px;
  }
  .nav-link i {
    font-size: 15px;
  }
  .nav-link a {
    color: #9e9e9e !important;
    display: flex;
    align-items: center;
  }
  .nav-link a:hover {
    color: #fff !important;
  }
  .active {
    color: white !important;
    background: #3a6ff8;
    border-radius: 10px;
    width: 100%;
  }

  .active-type {
    background-color: white !important;
    color: #110e22 !important;
   }

  .active a {
    color: white !important;
  }
  .header div p {
    font-weight: 300 !important;
  }
  .header div p span {
    font-weight: 500 !important;
    font-size: 17px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header div span {
    font-weight: 300 !important;
    font-size: 13px;
  }
  .header div i {
    padding-right: 30px;
  }
  .body {
    margin-top: 15px;
  }
  .body-top {
    background: #363a45 !important;
    height: 100%;
    padding: 20px 5px 20px 5px;
    border-radius: 10px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
  }
  .coin-section {
    background: #110e22;
    border-radius: 10px;
    padding: 20px;
  }
  .rate-section {
    background: linear-gradient(122.03deg, #3a6ff8 2.18%, #224192 100.35%);
    border-radius: 10px;
    color: white;
    width: 100% !important;
    height: 155px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px;
    position: relative;
    z-index: 2;
  }
  .rate-sect {
    background: linear-gradient(122.03deg, #3a6ff8 2.18%, #224192 100.35%);
    border-radius: 10px;
    width: 85% !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
  }
  .aaa {
    position: relative;
  }
  .rate-section-row {
    justify-content: space-between;
  }
  .body-bottom {
    background: #363a45 !important;
    height: 100%;
    padding: 20px 5px 20px 5px;
    border-radius: 10px !important;
    margin-top: 25px !important;
    margin-left: 0px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
  }
  .history-section {
    background: #110e22;
    border-radius: 10px;
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px !important;
    padding: 17px;
  }
  .history-section-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .quick-action-section {
    background: #110e22;
    border-radius: 10px;
    width: 100% !important;
    height: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
  }
  .quick-action-section-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  .quick-section {
    background: #110e22;
    border-radius: 10px;
    width: 100% !important;
    height: 270px !important;
    padding: 20px;
  }
  .quick-section div img {
    display: flex;
    justify-content: center !important;
    margin: auto !important;
  }
  .quick-section-row {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
  }
  .header-history {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    border-radius: 10px 10px 0 0;
    padding-bottom: 3px;
  }
  .header-history span {
    font-weight: 300;
    color: #e1dfec;
  }
  .more-container span {
    font-size: 13px !important;
    color: #e1dfec;
  }
  .more-container i {
    font-size: 12px;
    padding-left: 5px;
  }
  .more-container {
    border: 1px solid #e1dfec;
    display: flex;
    justify-content: center;
    padding: 0 12px;
    border-radius: 5px;
    align-items: center !important;
  }
  .table {
    line-height: 30px !important;
  }
  .tr {
    font-size: 13px !important;
    text-align: right;
    color: #ffffff80 !important;
  }
  .transact {
    text-align: left;
    display: flex;
  }
  .transact span {
    padding-left: 10px !important;
  }
  .tr td {
    color: white !important;
  }
  thead {
    border-bottom: 1px solid rgba(255, 253, 253, 0.144) !important;
    margin-top: 10px;
  }
  .rate-section-container span {
    color: #fff !important;
    font-size: 11px;
  }
  .rate-section-container {
    line-height: -2px !important;
  }
  .dollar i {
    font-size: 20px;
    color: #3a6ff8;
    font-weight: bold !important;
  }
  .dollar {
    background: #fff;
    border-radius: 2px;
    padding: 7px 12px;
  }
  .buy {
    border: 1px solid white;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 2px;
    color: white;
  }
  .buy.active {
    background: white;
    color: #110e22 !important;
  }
  .eth-input {
    background: #181628 !important;
    color: white !important;
    border: none !important;
    width: 100% !important;
    border-radius: 4px !important;
    height: 100% !important;
    font-size: 15px !important;
    padding: 10px 5px !important;
  }
  .eth-input:focus {
    box-shadow: none !important;
    border: none !important;
  }
  .eth-input option {
    font-size: 15px !important;
  }
  .eth-input-group {
    background: #181628 !important;
    color: white !important;
    border: none !important;
    border-radius: 4px !important;
  }
  .eth-input-group:focus {
    box-shadow: none !important;
    border: none !important;
  }
  .input-group-text {
    background: #1e1e1e !important;
    color: white !important;
    border: none !important;
    margin: 5px 5px 5px 5px;
    width: 60px !important;
    display: flex !important;
    justify-content: center !important;
    font-size: 12px !important;
  }
  .input-group {
    background: #181628;
    border-radius: 4px !important;
  }
  .coin-container small {
    font-size: 12px;
  }
  .coin-container {
    margin-top: 15px !important;
  }
  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .totals {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
  }
  .charges {
    display: flex;
    justify-content: space-between;
    margin-top: 30px !important;
  }
  .total span {
    font-size: 12px;
  }
  .totals span {
    font-size: 12px;
  }
  .charges p {
    font-size: 12px;
  }
  .small-text {
    font-size: 13px !important;
    line-height: 20px;
    padding: 10px 0;
    margin: auto !important;
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
  }
  .spacing {
    line-height: 50px;
  }
  .button {
    width: 100%;
    font-size: 13px !important;
  }
  .buy-coin-card {
    background: #363a45 !important;
    height: 100%;
    border-radius: 10px;
    padding: 20px !important;
  }
  .buy-coin-inner-card {
    background: #110e22;
    height: 100%;
    border-radius: 10px;
    padding: 20px 20px;
  }
  .buy-coin-price {
    background: white;
    color: #000;
    border-radius: 20px;
    font-size: 13px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    height: 6vh;
  }
  ::placeholder {
    font-size: 13px;
  }
  .sidenav-low {
    margin-top: 40vh;
  }
  .modal-background {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }
  .modal-content {
    background: #363a45 !important;
  }
  .modal-title {
    font-size: 20px;
  }
  .paragraph p {
    color: white;
  }
  .btn-close {
    border-radius: 100% !important;
    font-size: 8px !important;
  }
  .check-row {
    display: flex;
    align-items: center;
  }
  .transfer-coin-inner-card p {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }
  .transfer-coin-inner-card {
    background: #110e22;
    border-radius: 5px;
    padding: 5px;
  }
  .transfer-coin-card {
    background: #363a45 !important;
    height: 100%;
    border-radius: 10px;
    padding: 30px !important;
  }
  .image-border {
    border: 3px solid #f7faff33;
    margin-top: 40px;
    height: 100%;
    border-radius: 10px;
    padding: 30px 30px 0 30px;
    width: 100%;
  }
  .inner-border {
    border: 2px dashed #f7faff33;
    height: 30vh;
    width: 100%;
    border-radius: 7px;
  }
  .inner-small-border {
    border: 2px solid #f7faff33;
    height: 10vh;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
  }
  .btn-upload {
    width: 20% !important;
    font-size: 13px !important;
    margin: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .upload {
    width: 40%;
    margin-top: 50px !important;
    margin: auto;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer;
  }
  .content-inner-small-border {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .content-inner-small-border span {
    font-size: 10px;
  }
  .span {
    line-height: 13px;
  }
  .progress {
    height: 7px !important;
    margin-top: 7px;
    width: 100%;
  }
  .progress-count {
    display: flex;
    gap: 10px;
    align-items: center !important;
  }
  .progress-count span {
    font-size: 10px;
    padding-top: 5px;
  }
  .history-img {
    margin: auto !important;
  }
  .history-image {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  a {
    text-decoration: none !important;
  }

  li {
    list-style: none;
  }

  /* SIDEBAR */
  #sidebar {
    position: fixed;
    top: 0;
    padding: 0px 30px 0 0px !important;
    left: 0;
    width: 220px;
    height: 100%;
    background: #110e22;
    z-index: 2000 !important;
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
    color: white;
    border-radius: 10px 0 0 10px;
  }
  #sidebar.show {
    width: 200px;
    visibility: visible;
  }
  #sidebar .brand {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  #sidebar .brand span {
    font-size: 22px;
    color: white;
  }
  #sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
  }
  .side-menu {
    margin-top: 50px;
  }
  .bottom-side-menu {
    margin-top: 37vh !important;
  }
  /* SIDEBAR */

  /* CONTENT */
  #content {
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    transition: 0.3s ease;
  }
  #sidebar.hide ~ #content {
    width: 0;
    left: 20px;
  }
  .hamburger {
    display: none;
  }
  .navbar {
    padding: 20px 0 !important;
  }
  .welcome-text {
    font-weight: 300 !important;
    color: white;
  }
  .welcome-text span {
    font-weight: 500 !important;
    font-size: 17px;
  }
  .contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .profile {
    display: flex;
    align-items: center !important;
    gap: 20px;
    padding-right: 50px;
  }
  .mobile-welcome-text {
    display: none;
  }
  .coin-top {
    margin-top: 40px;
  }

  .container-side {
    max-width: 500px;
    margin: auto;
    border: 3px solid #f7faff33;
    margin-top: 40px;
    height: 100%;
    border-radius: 10px;
    padding: 30px 30px 0 30px;
    width: 100%;
    background: transparent;
  }
  .drop-section {
    border: 2px dashed #f7faff33;
    height: 30vh;
    width: 100%;
    border-radius: 7px;
    position: relative;
    margin-bottom: 10px;
  }
  .drop-section div.col:first-child {
    opacity: 1;
    visibility: visible;
    transition-duration: 0.2s;
    transform: scale(1);
    width: 200px;
    margin: auto;
  }
  .drop-section div.col:last-child {
    font-size: 30px;
    font-weight: 500;
    color: #c0cae1;
    position: absolute;
    top: 150px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
    transition-duration: 0.2s;
  }
  .drag-over-effect div.col:first-child {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(1.1);
  }
  .drag-over-effect div.col:last-child {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .drop-section .cloud-icon {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .drop-section .cloud-icon img {
    width: 100%;
  }
  .container-side button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .container-side input {
    display: none;
  }
  .list-section {
    display: none;
    text-align: left;
    padding-bottom: 20px !important;
  }
  .list-section li .col img {
    width: 70%;
  }
  .list-section .list-title {
    font-size: 0.95rem;
    color: #707ea0;
  }
  .list-section li {
    display: flex;
    padding-top: 4px;
    padding-bottom: 7px;
    margin-top: 10px;
    border: 2px solid #f7faff33;
    height: 8vh;
    border-radius: 5px;
    width: 100%;
    transition-duration: 0.2s;
  }
  .list-section li .col {
    flex: 0.1;
  }
  .list-section li .col:nth-child(1) {
    flex: 0.15;
    text-align: center;
  }
  .list-section li .col:nth-child(2) {
    flex: 0.85;
    text-align: left;
    font-size: 0.9rem;
    color: #3e4046;
  }
  .list-section li .col:nth-child(2) div.name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
  }
  .containers {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .containers .span-number {
    font-size: 10px;
    padding-top: 5px;
    color: #969db2;
  }
  .file-name .name {
    font-size: 10px;
    color: white;
  }
  .list-section li .file-progress {
    width: 100%;
    height: 5px;
    margin-top: 8px;
    border-radius: 8px;
    background: #dee6fd;
  }
  .list-section li .file-progress .team {
    display: block;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: #3a6ff8;
    transition-duration: 0.4s;
  }
  .list-section li .col .file-size {
    font-size: 8px;
    color: #707ea0;
  }
  .list-section li .close svg.tick {
    fill: green;
    background: transparent;
  }
  .list-section li .close svg.cross {
    fill: red;
    background: #fff;
    height: 13px;
    width: 13px;
    position: relative;
    left: -100%;
    top: 10%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
  }
  .list-section li .close svg.tick {
    fill: green;
    background: #fff;
    position: relative;
    left: -100%;
    top: 10%;
    height: 13px;
    width: 13px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
  }
  .list-section li.complete span,
  .list-section li.complete .file-progress,
  .list-section li.complete svg.cross {
    display: none;
  }
  .list-section li.in-prog svg.tick {
    display: none;
  }
  .gif {
    background: #363a45 !important;
    height: 100%;
    border-radius: 10px;
    padding: 30px !important;
  }
  .gif-image {
    display: flex !important;
    justify-content: center !important;
    margin-top: 20px;
  }
  .gif-image img {
    width: 50%;
    border-radius: 10px;
    background: #110e22;
  }
  .gif-button {
    display: flex !important;
    justify-content: center !important;
    margin-top: 50px;
    gap: 50px;
  }
  .coin-container select {
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    padding: 0px 15px;
  }
  .history-section-ntp {
    background: #110e22;
    border-radius: 10px;
    width: 100% !important;
    height: 72vh !important;
    border-radius: 10px !important;
  }
  .contain img {
    border-radius: 100%;
    width: 35px;
    height: 35px;
  }
  .table-section {
    padding: 0 3px;
  }
  .table-section-desktop-ntp{
    height: 69vh;
    padding: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .table-section-ntp{
    display: none;
  }
  .table-section-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
  }
  .table-section-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .table-section-wrapper img {
    width: 15%;
  }
  .date-wrap {
    line-height: 5px !important;
  }
  .date-wrap p {
    font-size: 14px;
  }
  .date-wrap span {
    font-size: 12px;
    color: #ffffff80;
  }
  .transac-status {
    line-height: 5px;
  }
  .transac-status p {
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
  }
  .transac-status span {
    font-size: 11px;
    padding: 2px 10px;
    border-radius: 100px;
  }
  .status-spending {
    background: #31353f;
  }

  .status-success {
    background: #3a6ff8;
  }

  .status-failed {
    background: #e4050580;
  }

  .rate-box {
    height: 15vh;
    border: 1px solid white;
    width: 100%;
    border-radius: 10px;
    margin: auto !important;
  }
  .rate-box p {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 13vh;
  }


  .sell-box {
    height: 13vh;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    background: linear-gradient(122.03deg, #3a6ff8 2.18%, #224192 100.35%);
  }
  .sell-box p {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 12vh;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
  .sell-box p span {
    font-size: 10px !important;
    font-weight: normal !important;
  }
  .buy-box {
    height: 13vh;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  .buy-box p {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 12vh;
    font-size: 20px;
    line-height: 30px;
    color: black;
    font-weight: 500;
  }
  .buy-box p span {
    font-size: 10px !important;
    font-weight: normal;
  }
  .quick-action {
    align-items: center !important;
    margin-top: 50px !important;
  }
  .quick-action img {
    width: 100%;
  }
  .layer-container {
    position: relative;
  }
  .card-layer {
    position: absolute;
    width: 50% !important;
  }
  .middles {
    background-color: red;
    padding: 1rem;
    height: 20vh !important;
    width: 40% !important;
    display: flex !important;
    justify-content: center !important;
    margin: 0 50px !important;
    border-radius: 0.5rem !important;
  }
  .bottoms {
    background-color: yellow;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem;
    height: 10vh !important;
  }
  .card-content {
    position: relative;
    z-index: 1;
  }
  .carousel-indicator {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  .carousel-indicator button {
    width: 8%;
    background: #fff;
    height: 4px !important;
    border: none !important;
    border-radius: 100px;
  }
  .carousel-indicator .active {
    width: 8%;
    background: #3a6ff8 !important;
    height: 4px !important;
    border: none !important;
    border-radius: 100px;
  }
  .carousel {
    width: 100% !important;
    background: #b5b6ba8c;
    height: 155px !important;
    border-radius: 10px;
  }
  .carousel-item {
    width: 100% !important;
    height: 155px !important;
    border-radius: 10px !important;
  }
  .carousel-inner .active {
    width: 100% !important;
    height: 155px !important;
    border-radius: 10px !important;
    background: #b5b6ba8c !important;
  }
  .carousel-item h3 {
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .amount-small {
    padding-bottom: 5px !important;
  }


  .dropdown {
    position: relative;
    display: inline-block;
   }

 .dropdown-button {
   color: white;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
 }

 .dropdown-button:focus {
   outline: none;
 }

 .dropdown-menu {
   display: none;
   position: absolute;
   background-color: white;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   z-index: 1;
   margin-top: 5px;
   padding: 0;
   list-style: none;
   min-width: 5rem;
 }

 .dropdown-menu li {
   border-bottom: 1px solid #ddd;
 }

 .dropdown-menu li:last-child {
   border-bottom: none;
 }

 .dropdown-menu li a {
   color: black;
   padding: 10px;
   /* width: 10%; */
   text-decoration: none;
   display: block;
 }

 .dropdown-menu li a:hover {
   background-color: #f1f1f1;
 }

  @media screen and (max-width: 576px) {
    .cloud-icon img {
      width: 70% !important;
      margin: auto !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .payment-text{
      font-size: 12px;
    }
    .drop-section {
      border: 2px dashed #f7faff33;
      height: 20vh;
      width: 100%;
      border-radius: 7px;
      position: relative;
      margin-bottom: 10px;
    }
    .container-side {
      max-width: 500px;
      margin: auto;
      border: 3px solid #f7faff33;
      margin-top: 40px;
      height: 100%;
      border-radius: 10px;
      padding: 23px 23px 0 23px;
      width: 100%;
      background: transparent;
    }
    .modal-title {
      font-size: 15px !important;
    }
    .error {
      margin: auto !important;
      display: flex !important;
      justify-content: center !important;
      width: 95% !important;
    }
    .table-section-ntp{
      height: 45vh;
      padding: 0 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .table-section-desktop-ntp{
      display: none;
    }
    .table-section-wrapper img {
      width: 18%;
    }
    .pending-div span {
      font-size: 9px;
    }
    .success-div span {
      font-size: 9px;
    }
    .failed-div span {
      font-size: 9px;
    }
    .date-wrap span {
      font-size: 11px;
      color: #ffffff80;
    }
    .history-section {
      background: #788297;
      margin-top: 20px;
    }
    .total span {
      font-size: 14px;
    }
    .totals span {
      font-size: 15px;
    }
    .input-group-text {
      background: #110e22 !important;
      margin: 7px;
      width: 80px !important;
      font-size: 12px !important;
    }
    .eth-input {
      border-radius: 5px !important;
      font-size: 15px !important;
      padding: 15px 5px !important;
      margin-top: 5px;
      height: 50px !important;
    }
    .input-group {
      height: 50px;
      margin-top: 5px;
    }
    .mobile-table {
      order: 2 !important;
    }
    .sell-box {
      background: white;
    }
    .sell-box p {
      color: black;
      font-weight: 500;
      font-size: 30px;
    }
    .sell-box p span {
      font-size: 11px !important;
      color: white;
      background: #3a6ff8;
      padding: 2px 10px;
      border-radius: 100px;
    }
    .buy-box {
      background: linear-gradient(122.03deg, #3a6ff8 2.18%, #224192 100.35%);
    }
    .buy-box p {
      font-size: 30px;
      font-weight: 500;
      color: white;
    }
    .buy-box p span {
      font-size: 11px !important;
      color: #3a6ff8;
      background: #fff;
      padding: 2px 10px;
      border-radius: 100px;
    }
    .mobile-rate {
      display: flex;
      margin-top: 40px !important;
      justify-content: space-between;
    }
    .sell-box {
      margin: 0 !important;
      width: 47% !important;
    }
    .buy-box {
      width: 47% !important;
    }
    .quick-action {
      margin: 40px 0px 0px 0px !important;
    }
    .quick {
      display: flex !important;
      justify-content: start !important;
      padding-bottom: 10px;
    }
    .carousel-indicator button {
      width: 10%;
    }
    .carousel-indicator .active {
      width: 10% !important;
    }
    .carousel {
      height: 140px !important;
      margin-top: 30px;
    }
    .carousel-item {
      height: 140px !important;
    }
    .carousel-inner .active {
      height: 140px !important;
    }
    .carousel-item h3 {
      font-size: 30px !important;
      font-weight: normal !important;
    }
    .dashboard-body {
      padding: 0 5px 30px 5px !important;
    }
    .body-top {
      background: none !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    .body-bottom {
      background: none !important;
      margin: 0 !important;
      padding: 0 !important;
    }
    .header-history span {
      font-size: 15px !important;
    }
    .view {
      color: white !important;
    }
    .dollar i {
      font-size: 25px !important;
      font-weight: bold !important;
    }
    .dollar {
      border-radius: 5px !important;
      padding: 13px 17px !important;
    }
    .rate-section-container span {
      color: #fff;
      font-size: 12px !important;
    }
    .rate-total span {
      font-size: 12px !important;
    }
    .coin-section {
      padding: 25px;
    }
    .btn-buy {
      font-size: 18px !important;
      height: 45px !important;
    }
    .coin {
      padding-top: 5px !important;
    }
    .total {
      padding-top: 10px !important;
    }
    .totals {
      padding-top: 0px !important;
    }
    .amount-small {
      margin-top: 10px !important;
      font-size: 15px;
    }
    .coin-container {
      margin-top: 0 !important;
    }
    #sidebar {
      width: 0px;
      height: 100% !important;
    }
    .rate-section-container h5 {
      font-size: 25px !important;
      padding-top: 10px !important;
    }
    .buy {
      font-size: 14px !important;
      padding: 5px 1px !important;
      border-radius: 100px !important;
    }
    #content {
      width: 100% !important;
      left: 0px !important;
    }
    .rate-section-image {
      display: none;
    }
    #content nav .nav-link {
      display: none;
    }
    #sidebar {
      padding: 0 !important;
    }
    .hamburger {
      display: block;
      display: flex;
      align-items: center;
      width: 100%;
    }
    .logo {
      margin-left: 10px !important;
      display: flex;
      align-items: center;
    }
    .logo span {
      margin-left: 10px !important;
      padding-top: 5px !important;
      font-size: 18px !important;
      font-weight: 500 !important;
    }
    .stripe {
      font-size: 30px !important;
      margin-left: auto !important;
      padding-right: 20px !important;
      overflow: hidden;
    }
    .welcome-text {
      display: none;
    }
    .contain {
      display: none;
    }
    .active {
      width: 90% !important;
    }
    .bottom-side-menu {
      margin-top: 20vh !important;
    }
    .body {
      margin: 0 !important;
    }
    .mobile {
      width: 100% !important;
      height: 18vh !important;
    }
    .repo {
      width: 48% !important;
      height: 15vh !important;
    }
    .rate-section {
      margin-top: 10px !important;
      width: 100% !important;
      height: 190px;
    }
    .rate-sect {
      width: 90% !important;
      top: 10px;
    }
    .eth-mob {
      margin-top: 20px !important;
      position: relative;
    }
    .header-history p {
      font-size: 12px;
    }
    .more-container a span {
      font-size: 10px !important;
    }
    .fa-angle-right {
      font-size: 7px !important;
    }
    .more-container {
      border: none !important;
    }
    .quick-action-section-row {
      margin-top: 20px;
    }
    .quick-section-row {
      display: none;
    }
    .mobile-welcome-text {
      font-weight: 100 !important;
      color: white;
      display: block;
    }
    .mobile-welcome-text span {
      font-weight: 500 !important;
      font-size: 19px !important;
    }
    .rate-section-row {
      margin-top: 10px !important;
    }
    .coin-top {
      margin-top: 20px;
    }
    .buy-coin-price {
      border-radius: 10px;
      font-size: 13px;
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      text-align: center;
      height: 4vh;
    }
    .charges {
      margin-top: 10px !important;
    }
    .transfer-coin-inner-card p {
      font-size: 14px;
      text-align: center;
      padding-top: 10px;
    }
    .transfer-coin-inner-card {
      background: #110e22;
      border-radius: 5px;
      padding: 2px;
    }
    .coin-info h5 {
      font-size: 15px !important;
    }
    .coin-info span {
      font-size: 15px !important;
      margin-top: 20px !important;
    }
    .image-border {
      border: 3px solid #f7faff33;
      margin-top: 40px;
      height: 32vh;
      border-radius: 10px;
      padding: 20px 20px 0 20px;
      width: 100%;
    }
    .inner-border {
      border: 2px dashed #f7faff33;
      height: 15vh;
      width: 100%;
      border-radius: 7px;
    }
    .inner-small-border {
      border: 2px solid #f7faff33;
      height: 7vh;
      border-radius: 5px;
      width: 100%;
      margin-top: 10px;
      padding: 5px;
    }
    .btn-upload {
      width: 50% !important;
      font-size: 13px !important;
      margin: auto !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .upload {
      width: 50%;
      margin-top: 30px !important;
      margin: auto;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      cursor: pointer;
    }
    .content-inner-small-border {
      display: flex;
      gap: 0px !important;
      align-items: center;
    }
    .content-inner-small-border span {
      font-size: 8px;
    }
    .span {
      line-height: 9px;
    }
    .progress {
      height: 5px !important;
      margin-top: 7px;
      width: 100%;
    }
    .progress-count {
      display: flex;
      gap: 5px;
      align-items: center !important;
    }
    .progress-count span {
      font-size: 10px;
      padding-top: 5px;
    }
    .content-inner-small-border img {
      width: 70%;
    }
    .gif-button {
      display: flex !important;
      justify-content: space-around !important;
      margin-top: 50px;
    }
    .gif-button button {
      font-size: 10px;
    }
  }



  @media screen and (max-width: 1200px) {
    #sidebar {
      width: 0px;
      height: 100% !important;
    }
    #content {
      width: 100% !important;
      left: 0px !important;
    }
    .stripe {
      font-size: 30px !important;
      margin-left: auto !important;
      padding-right: 20px !important;
      overflow: hidden;
    }
    .contain {
      display: none;
    }
    .hamburger {
      display: block;
      display: flex;
      align-items: center;
      width: 100%;
    }
    .welcome-text {
      display: none;
    }
    .body {
      margin: 30px;
    }
    #sidebar {
      padding: 0 !important;
    }
    .logo {
      margin-left: 30px !important;
      display: flex;
      align-items: center;
    }
    .logo span {
      margin-left: 10px !important;
      padding-top: 5px !important;
      font-size: 18px !important;
      font-weight: 500 !important;
    }
  }
