* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    cursor: pointer;
  }
  .head-text {
    text-align: center;
  }
  .sub-head-text {
    text-align: center;
    font-size: 12px;
  }
  .step-container {
    width: 100%;
    margin-top: 30px;
    position: relative;
  }
  .search-input input {
    background: transparent;
    border: 1px solid #ffffffb2 !important;
    padding-left: 50px;
  }
  .search-input input:focus {
    background: transparent;
    border: 1px solid #ffffffb2 !important;
    padding-left: 50px;
    color: white;
    box-shadow: none;
  }
  .fa-search {
    color: #ffffffb2;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  ::placeholder {
    color: #ffffffb2 !important;
  }
  .search-input {
    margin-top: 20px !important;
    position: relative;
    width: 35%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  #next {
    cursor: pointer;
  }

  .step-container .steps {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: auto;
  }
  .step-container .progress-bar {
    width: 100% !important;
    background: transparent;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: black;
    font-size: 15px;
    margin: 20px 20px 0 20px;
    font-weight: 500;
    border-radius: 50%;
    background: #918f8f;
  }
  .progress-bar .indicator {
    height: 10px;
    width: 100%;
    color: black;
    background: #918f8f;
  }
  .steps .active {
    background: white !important;
    color: black !important;
    transition: 1s linear;
  }
  .progress-bar .active {
    background: white !important;
    transition: .5s linear;
  }
  .indicator_1 {
    display: none !important;
  }
  .indicator_2 {
    position: absolute;
    top: 33%;
    left: 12%;
    width: 34% !important;
    /* z-index: -1; */
  }
  .indicator_3 {
    position: absolute;
    top: 33%;
    right: 17%;
    width: 35% !important;
    z-index: -1;
  }
  .flow-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }
  .flow-buttons button {
    width: 200px !important;
  }
  .circle_2,
  .circle_3 {
    margin-left: 30px !important;
  }
  .transfer-coin-card {
    z-index: 9999 !important;
  }
  button:focus {
    box-shadow: none !important;
    border: none !important;
  }
  .steppers img{
    width: 100%;
    margin: 20px 0;
  }
  .stepper img{
    width: 100%;
    margin: 20px 0;
  }


  @media screen and (max-width: 576px) {
    .flow-buttons {
      margin-top: 30px;
      display: block;
      justify-content: space-evenly;
      width: 100% !important;
    }
    .flow-buttons button {
      width: 100% !important;
    }
    .order-button,
    .complete-button{
      margin-top: 10px !important;
    }
  }
